.chat-app {
  display: flex;
  height: 100vh;
}

.chat-list {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: #f0f0f0;
}
.chat-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove horizontal scrollbar height (if any) */
}
.chat-content {
  width: 70%;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}
.chat-content::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove horizontal scrollbar height (if any) */
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

@media (max-width: 768px) {
  .chat-app {
    flex-direction: column;
  }

  .chat-list {
    width: 100%;
    height: 50%;
  }

  .chat-content {
    width: 100%;
    height: 50%;
  }
}
