.chat-list-container {
  width: 300px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  overflow: hidden;
}
.chat-list-container::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove horizontal scrollbar height (if any) */
}
.chat-wrapper {
  background-color: #f9f9f9; /* Light background */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
}
.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
}
.chat-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove horizontal scrollbar height (if any) */
}
.chat-wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-wrapper-header span {
  font-size: 20px;
  font-weight: bold;
  color: #424242;
}

.chat-wrapper-header button {
  font-size: 14px;
}

.chat-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.chat-item:hover {
  background-color: #e0f7fa;
}

.chat-item.active {
  background-color: #b2ebf2;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: bold;
  font-size: 16px;
  color: #424242;
}

.chat-details {
  font-size: 14px;
  color: #757575;
}

.chat-user {
  font-weight: bold;
  margin-right: 5px;
}

.new-group-button {
  margin-left: auto;
}
